In [2]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# Importing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

In [5]:
dataset.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

## Display columns in dataset

In [9]:
dataset.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

## Display first few rows

In [10]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [20]:
X[:10]

array([[619, 'France', 'Female', 42, 2, 0.0, 1, 1, 1, 101348.88],
       [608, 'Spain', 'Female', 41, 1, 83807.86, 1, 0, 1, 112542.58],
       [502, 'France', 'Female', 42, 8, 159660.8, 3, 1, 0, 113931.57],
       [699, 'France', 'Female', 39, 1, 0.0, 2, 0, 0, 93826.63],
       [850, 'Spain', 'Female', 43, 2, 125510.82, 1, 1, 1, 79084.1],
       [645, 'Spain', 'Male', 44, 8, 113755.78, 2, 1, 0, 149756.71],
       [822, 'France', 'Male', 50, 7, 0.0, 2, 1, 1, 10062.8],
       [376, 'Germany', 'Female', 29, 4, 115046.74, 4, 1, 0, 119346.88],
       [501, 'France', 'Male', 44, 4, 142051.07, 2, 0, 1, 74940.5],
       [684, 'France', 'Male', 27, 2, 134603.88, 1, 1, 1, 71725.73]],
      dtype=object)

## Encoding categorical data - Geography and Gender

In [21]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])

In [22]:
X[:10]

array([[619, 0, 0, 42, 2, 0.0, 1, 1, 1, 101348.88],
       [608, 2, 0, 41, 1, 83807.86, 1, 0, 1, 112542.58],
       [502, 0, 0, 42, 8, 159660.8, 3, 1, 0, 113931.57],
       [699, 0, 0, 39, 1, 0.0, 2, 0, 0, 93826.63],
       [850, 2, 0, 43, 2, 125510.82, 1, 1, 1, 79084.1],
       [645, 2, 1, 44, 8, 113755.78, 2, 1, 0, 149756.71],
       [822, 0, 1, 50, 7, 0.0, 2, 1, 1, 10062.8],
       [376, 1, 0, 29, 4, 115046.74, 4, 1, 0, 119346.88],
       [501, 0, 1, 44, 4, 142051.07, 2, 0, 1, 74940.5],
       [684, 0, 1, 27, 2, 134603.88, 1, 1, 1, 71725.73]], dtype=object)

## Using One hot encoder to encode Geography

In [23]:
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
X = X[:, 1:]

In [24]:
X[:10]

array([[0.0000000e+00, 0.0000000e+00, 6.1900000e+02, 0.0000000e+00,
        4.2000000e+01, 2.0000000e+00, 0.0000000e+00, 1.0000000e+00,
        1.0000000e+00, 1.0000000e+00, 1.0134888e+05],
       [0.0000000e+00, 1.0000000e+00, 6.0800000e+02, 0.0000000e+00,
        4.1000000e+01, 1.0000000e+00, 8.3807860e+04, 1.0000000e+00,
        0.0000000e+00, 1.0000000e+00, 1.1254258e+05],
       [0.0000000e+00, 0.0000000e+00, 5.0200000e+02, 0.0000000e+00,
        4.2000000e+01, 8.0000000e+00, 1.5966080e+05, 3.0000000e+00,
        1.0000000e+00, 0.0000000e+00, 1.1393157e+05],
       [0.0000000e+00, 0.0000000e+00, 6.9900000e+02, 0.0000000e+00,
        3.9000000e+01, 1.0000000e+00, 0.0000000e+00, 2.0000000e+00,
        0.0000000e+00, 0.0000000e+00, 9.3826630e+04],
       [0.0000000e+00, 1.0000000e+00, 8.5000000e+02, 0.0000000e+00,
        4.3000000e+01, 2.0000000e+00, 1.2551082e+05, 1.0000000e+00,
        1.0000000e+00, 1.0000000e+00, 7.9084100e+04],
       [0.0000000e+00, 1.0000000e+00, 6.4500000e+02, 1.0000000e+00,
        4.4000000e+01, 8.0000000e+00, 1.1375578e+05, 2.0000000e+00,
        1.0000000e+00, 0.0000000e+00, 1.4975671e+05],
       [0.0000000e+00, 0.0000000e+00, 8.2200000e+02, 1.0000000e+00,
        5.0000000e+01, 7.0000000e+00, 0.0000000e+00, 2.0000000e+00,
        1.0000000e+00, 1.0000000e+00, 1.0062800e+04],
       [1.0000000e+00, 0.0000000e+00, 3.7600000e+02, 0.0000000e+00,
        2.9000000e+01, 4.0000000e+00, 1.1504674e+05, 4.0000000e+00,
        1.0000000e+00, 0.0000000e+00, 1.1934688e+05],
       [0.0000000e+00, 0.0000000e+00, 5.0100000e+02, 1.0000000e+00,
        4.4000000e+01, 4.0000000e+00, 1.4205107e+05, 2.0000000e+00,
        0.0000000e+00, 1.0000000e+00, 7.4940500e+04],
       [0.0000000e+00, 0.0000000e+00, 6.8400000e+02, 1.0000000e+00,
        2.7000000e+01, 2.0000000e+00, 1.3460388e+05, 1.0000000e+00,
        1.0000000e+00, 1.0000000e+00, 7.1725730e+04]])

## The input features have been encoded and are of same type

In [28]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [39]:
X.var()

1837438763.1663566

## Applying feature scaling

In [40]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Implementing Artificial neural network

In [41]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

C:\Softwares\Anaconda\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [42]:
# Initialising the ANN
classifier = Sequential()

In [43]:
# Adding the input layer and the first hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))

In [44]:
# Adding the second hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))

In [45]:
# Adding the output layer
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

In [46]:
# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [47]:
# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, nb_epoch = 100)

C:\Softwares\Anaconda\lib\site-packages\ipykernel_launcher.py:2: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

Epoch 1/100
8000/8000 [==============================] - 2s 227us/step - loss: 0.4865 - acc: 0.7955
Epoch 2/100
8000/8000 [==============================] - 1s 181us/step - loss: 0.4304 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 1s 182us/step - loss: 0.4261 - acc: 0.7960
Epoch 4/100
8000/8000 [==============================] - 1s 182us/step - loss: 0.4212 - acc: 0.8094
Epoch 5/100
8000/8000 [==============================] - 1s 185us/step - loss: 0.4175 - acc: 0.8265
Epoch 6/100
8000/8000 [==============================] - 2s 188us/step - loss: 0.4157 - acc: 0.8279
Epoch 7/100
8000/8000 [==============================] - 2s 188us/step - loss: 0.4134 - acc: 0.8312
Epoch 8/100
8000/8000 [==============================] - 1s 180us/step - loss: 0.4121 - acc: 0.8301
Epoch 9/100
8000/8000 [==============================] - 1s 172us/step - loss: 0.4111 - acc: 0.8329
Epoch 10/100
8000/8000 [==============================] - 1s 182us/step - loss: 0.4100 - acc: 0.8337
Epoch 11/100
8000/8000 [==============================] - 1s 185us/step - loss: 0.4089 - acc: 0.8354
Epoch 12/100
8000/8000 [==============================] - 1s 185us/step - loss: 0.4082 - acc: 0.8337
Epoch 13/100
8000/8000 [==============================] - 1s 185us/step - loss: 0.4073 - acc: 0.8339
Epoch 14/100
8000/8000 [==============================] - 1s 184us/step - loss: 0.4068 - acc: 0.8346
Epoch 15/100
8000/8000 [==============================] - 1s 183us/step - loss: 0.4062 - acc: 0.8336
Epoch 16/100
8000/8000 [==============================] - 1s 177us/step - loss: 0.4055 - acc: 0.8360
Epoch 17/100
8000/8000 [==============================] - 1s 180us/step - loss: 0.4054 - acc: 0.8337
Epoch 18/100
8000/8000 [==============================] - 2s 188us/step - loss: 0.4049 - acc: 0.8359
Epoch 19/100
8000/8000 [==============================] - 2s 189us/step - loss: 0.4044 - acc: 0.8346
Epoch 20/100
8000/8000 [==============================] - 1s 186us/step - loss: 0.4045 - acc: 0.8344
Epoch 21/100
8000/8000 [==============================] - 1s 185us/step - loss: 0.4037 - acc: 0.8354
Epoch 22/100
8000/8000 [==============================] - 1s 183us/step - loss: 0.4034 - acc: 0.8345
Epoch 23/100
8000/8000 [==============================] - 1s 183us/step - loss: 0.4034 - acc: 0.8344
Epoch 24/100
8000/8000 [==============================] - 1s 185us/step - loss: 0.4032 - acc: 0.8349
Epoch 25/100
8000/8000 [==============================] - 1s 181us/step - loss: 0.4030 - acc: 0.8337
Epoch 26/100
8000/8000 [==============================] - 2s 188us/step - loss: 0.4026 - acc: 0.8345
Epoch 27/100
8000/8000 [==============================] - 1s 183us/step - loss: 0.4020 - acc: 0.8356
Epoch 28/100
8000/8000 [==============================] - 1s 182us/step - loss: 0.4030 - acc: 0.8350
Epoch 29/100
8000/8000 [==============================] - 1s 187us/step - loss: 0.4025 - acc: 0.8351
Epoch 30/100
8000/8000 [==============================] - 2s 191us/step - loss: 0.4019 - acc: 0.8344
Epoch 31/100
8000/8000 [==============================] - 1s 184us/step - loss: 0.4022 - acc: 0.8351
Epoch 32/100
8000/8000 [==============================] - 1s 181us/step - loss: 0.4021 - acc: 0.8355
Epoch 33/100
8000/8000 [==============================] - 1s 184us/step - loss: 0.4018 - acc: 0.8361
Epoch 34/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.4018 - acc: 0.8359
Epoch 35/100
8000/8000 [==============================] - 1s 175us/step - loss: 0.4016 - acc: 0.8364
Epoch 36/100
8000/8000 [==============================] - 1s 176us/step - loss: 0.4015 - acc: 0.8340
Epoch 37/100
8000/8000 [==============================] - 2s 188us/step - loss: 0.4017 - acc: 0.8355
Epoch 38/100
8000/8000 [==============================] - 1s 185us/step - loss: 0.4014 - acc: 0.8352
Epoch 39/100
8000/8000 [==============================] - 1s 172us/step - loss: 0.4008 - acc: 0.8342
Epoch 40/100
8000/8000 [==============================] - 1s 181us/step - loss: 0.4010 - acc: 0.8349
Epoch 41/100
8000/8000 [==============================] - 1s 177us/step - loss: 0.4014 - acc: 0.8341
Epoch 42/100
8000/8000 [==============================] - 1s 183us/step - loss: 0.4010 - acc: 0.8344
Epoch 43/100
8000/8000 [==============================] - 1s 174us/step - loss: 0.4015 - acc: 0.8350
Epoch 44/100
8000/8000 [==============================] - 1s 170us/step - loss: 0.4011 - acc: 0.8339
Epoch 45/100
8000/8000 [==============================] - 1s 168us/step - loss: 0.4013 - acc: 0.8341
Epoch 46/100
8000/8000 [==============================] - 1s 170us/step - loss: 0.4004 - acc: 0.8354
Epoch 47/100
8000/8000 [==============================] - 1s 173us/step - loss: 0.4011 - acc: 0.8340
Epoch 48/100
8000/8000 [==============================] - 1s 184us/step - loss: 0.4009 - acc: 0.8345
Epoch 49/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.4011 - acc: 0.8345
Epoch 50/100
8000/8000 [==============================] - 1s 72us/step - loss: 0.4007 - acc: 0.8339
Epoch 51/100
8000/8000 [==============================] - 1s 72us/step - loss: 0.4007 - acc: 0.8352
Epoch 52/100
8000/8000 [==============================] - 1s 74us/step - loss: 0.4005 - acc: 0.8359
Epoch 53/100
8000/8000 [==============================] - 1s 73us/step - loss: 0.4005 - acc: 0.8336
Epoch 54/100
8000/8000 [==============================] - 1s 78us/step - loss: 0.4000 - acc: 0.8352
Epoch 55/100
8000/8000 [==============================] - 1s 79us/step - loss: 0.4006 - acc: 0.8336
Epoch 56/100
8000/8000 [==============================] - 1s 78us/step - loss: 0.4009 - acc: 0.8364
Epoch 57/100
8000/8000 [==============================] - 1s 72us/step - loss: 0.4008 - acc: 0.8345
Epoch 58/100
8000/8000 [==============================] - 1s 75us/step - loss: 0.4004 - acc: 0.8344
Epoch 59/100
8000/8000 [==============================] - 1s 72us/step - loss: 0.4007 - acc: 0.8362
Epoch 60/100
8000/8000 [==============================] - 1s 70us/step - loss: 0.4006 - acc: 0.8355
Epoch 61/100
8000/8000 [==============================] - 1s 71us/step - loss: 0.4005 - acc: 0.8349
Epoch 62/100
8000/8000 [==============================] - 1s 71us/step - loss: 0.4003 - acc: 0.8351
Epoch 63/100
8000/8000 [==============================] - 1s 76us/step - loss: 0.4005 - acc: 0.8354
Epoch 64/100
8000/8000 [==============================] - 1s 84us/step - loss: 0.4006 - acc: 0.8340
Epoch 65/100
8000/8000 [==============================] - 1s 85us/step - loss: 0.4002 - acc: 0.8340
Epoch 66/100
8000/8000 [==============================] - 1s 85us/step - loss: 0.4007 - acc: 0.8341
Epoch 67/100
8000/8000 [==============================] - 1s 77us/step - loss: 0.4002 - acc: 0.8347
Epoch 68/100
8000/8000 [==============================] - 1s 68us/step - loss: 0.4001 - acc: 0.8337
Epoch 69/100
8000/8000 [==============================] - 1s 71us/step - loss: 0.4003 - acc: 0.8352
Epoch 70/100
8000/8000 [==============================] - 1s 87us/step - loss: 0.4002 - acc: 0.8351
Epoch 71/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.4008 - acc: 0.8341
Epoch 72/100
8000/8000 [==============================] - 1s 181us/step - loss: 0.4003 - acc: 0.8350
Epoch 73/100
8000/8000 [==============================] - 1s 175us/step - loss: 0.4005 - acc: 0.8360
Epoch 74/100
8000/8000 [==============================] - 1s 183us/step - loss: 0.3999 - acc: 0.8359
Epoch 75/100
8000/8000 [==============================] - 2s 195us/step - loss: 0.4000 - acc: 0.8352
Epoch 76/100
8000/8000 [==============================] - 2s 202us/step - loss: 0.4001 - acc: 0.8341
Epoch 77/100
8000/8000 [==============================] - 2s 192us/step - loss: 0.4000 - acc: 0.8350
Epoch 78/100
8000/8000 [==============================] - 2s 190us/step - loss: 0.4003 - acc: 0.8332
Epoch 79/100
8000/8000 [==============================] - 2s 193us/step - loss: 0.4001 - acc: 0.8351
Epoch 80/100
8000/8000 [==============================] - 2s 193us/step - loss: 0.4001 - acc: 0.8354
Epoch 81/100
8000/8000 [==============================] - 2s 189us/step - loss: 0.4000 - acc: 0.8339
Epoch 82/100

8000/8000 [==============================] - 2s 189us/step - loss: 0.4002 - acc: 0.8347
Epoch 83/100
8000/8000 [==============================] - 1s 184us/step - loss: 0.4004 - acc: 0.8345
Epoch 84/100
8000/8000 [==============================] - 1s 187us/step - loss: 0.3999 - acc: 0.8347
Epoch 85/100
8000/8000 [==============================] - 1s 184us/step - loss: 0.4002 - acc: 0.8351
Epoch 86/100
8000/8000 [==============================] - 1s 180us/step - loss: 0.4000 - acc: 0.8351
Epoch 87/100
8000/8000 [==============================] - 1s 71us/step - loss: 0.4003 - acc: 0.8370
Epoch 88/100
8000/8000 [==============================] - 1s 69us/step - loss: 0.3998 - acc: 0.8336
Epoch 89/100
8000/8000 [==============================] - 1s 73us/step - loss: 0.4001 - acc: 0.8344
Epoch 90/100
8000/8000 [==============================] - 1s 73us/step - loss: 0.4000 - acc: 0.8347
Epoch 91/100
8000/8000 [==============================] - 1s 72us/step - loss: 0.3997 - acc: 0.8332
Epoch 92/100
8000/8000 [==============================] - 1s 70us/step - loss: 0.3991 - acc: 0.8341
Epoch 93/100
8000/8000 [==============================] - 1s 73us/step - loss: 0.4001 - acc: 0.8354
Epoch 94/100
8000/8000 [==============================] - 1s 69us/step - loss: 0.3994 - acc: 0.8351
Epoch 95/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.3998 - acc: 0.8346
Epoch 96/100
8000/8000 [==============================] - 1s 175us/step - loss: 0.3997 - acc: 0.8330
Epoch 97/100
8000/8000 [==============================] - 1s 179us/step - loss: 0.4000 - acc: 0.8344
Epoch 98/100
8000/8000 [==============================] - 1s 178us/step - loss: 0.4004 - acc: 0.8346
Epoch 99/100
8000/8000 [==============================] - 1s 175us/step - loss: 0.3994 - acc: 0.8359
Epoch 100/100
8000/8000 [==============================] - 1s 182us/step - loss: 0.3997 - acc: 0.8345

## Making the predictions and evaluating the model

In [55]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [56]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[1550,   45],
       [ 271,  134]], dtype=int64)